<div *ngIf="tos.length > 0; then toList; else empty"></div>
<ng-template #toList>
  <div class="main-container">
    <div class="title">
      <div class="entry">№</div>
      <div class="entry">Имя</div>
      <div class="entry">Номер автомобиля</div>
      <div class="entry">Дата</div>
      <div class="entry">Статус</div>
    </div>
    <div class="container">
      <app-to-row
        *ngFor="let to of tos; let i = index"
        [to]="to"
        [index]="i"
      ></app-to-row>
    </div>
  </div>
</ng-template>
<ng-template #empty>
  <div class="wrapper">
    <div class="message">ТО отсутствуют.</div>
  </div>
</ng-template>
