<div class="modal-container" *ngIf="state.addToVisible">
  <div class="modal-cont">
    <div class="cancel-button" (click)="close()">
      <img src="assets\images\cancel.png" class="cancel-picture" alt="cancel" />
    </div>
    <div class="global-container">
      <div class="header label">Добавление ТО</div>
      <div class="container">
        <div class="input-container">
          <label class="label" for="second-name">Фамилия</label>
          <input
            id="second-name"
            class="input"
            type="text"
            placeholder="Фамилия"
            [(ngModel)]="second_name"
          />
          <label class="label" for="first-name">Имя</label>
          <input
            id="first-name"
            class="input"
            type="text"
            placeholder="Имя"
            [(ngModel)]="first_name"
          />
          <label class="label" for="middle-name">Отчество</label>
          <input
            id="middle-name"
            class="input"
            type="text"
            placeholder="Отчество"
            [(ngModel)]="middle_name"
          />
        </div>
        <div class="input-container">
          <label class="label" for="tel-number">Номер телефона</label>
          <input
            id="tel-number"
            class="input"
            type="text"
            placeholder="Номер телефона"
            [(ngModel)]="tel_number"
          />
          <label class="label" for="car-plate">Автомобильный номер</label>
          <input
            id="car-plate"
            class="input"
            type="text"
            placeholder="Автомобильный номер"
            [(ngModel)]="car_plate"
          />
          <label class="label" for="model">Марка</label>
          <input
            id="model"
            class="input"
            type="text"
            placeholder="Марка"
            [(ngModel)]="model"
          />
        </div>
        <div class="input-container">
          <label class="label" for="sts-ser">СТС серия</label>
          <input
            id="sts-ser"
            class="input"
            type="text"
            placeholder="Серия"
            [(ngModel)]="sts_ser"
          />
          <label class="label" for="sts-number">СТС номер</label>
          <input
            id="sts-number"
            class="input"
            type="text"
            placeholder="Номер"
            [(ngModel)]="sts_number"
          />
          <label class="label" for="vin">VIN</label>
          <input
            id="vin"
            class="input"
            type="text"
            placeholder="VIN"
            [(ngModel)]="vin"
          />
        </div>
      </div>
      <button class="button" (click)="addTo()">Добавить</button>
    </div>
  </div>
  <div class="modal-background"></div>
</div>
